.center-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.heading-css {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, serif;
    text-align: center;
    color: rgba(62,39,35);
}
.form_bg{
   
    padding:10px;
    width:350px;
  
}
.enter{
    color: rgba(62,39,35);
}